@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.animated_background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: darkgray;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
     height: 100px;
    position: relative;
}

.h2{
    height:68px
}
.description{
    max-height: 20px;
    max-width: 219px;
}
.placeholder_image{
    min-height: 161px;
    border-radius: 10px;
}
