.action {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #ababac;
  padding: 10.5px 0;
  display: block;
  cursor: pointer;
}
.vertical_menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.selected_cate{
    font-size: larger;
    font-weight: 900;
    color: #032a63;
}
