.image {
  height: 100%;
  width: 100%;
  max-width: 800px;
}

.wrapper{
    background: #032a630d;
    padding: 23px;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.9514180672268907) 11%,
    rgba(142, 142, 157, 0.11668417366946782) 61%
  );
  top: 0;
}

.h2{
    bottom: 47px;
    color: white;
    margin-left: 31px;
}
.h5{
    bottom: 30px;
    color: white;
    margin-left: 31px; 
    font-size: 0.8rem;
}
